.first-div{
    background: #be2edd;
    height: 180px;
    border-top-right-radius:5px;
    border-top-left-radius: 5px;
}
.second-div{
    background: #dff9fb;
    margin-top: -50px;
    height: 1500px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius: 5px;
}