.todo-card{
    margin-top: 20px;
   align-items: start !important ;
}

.todo-card h2 {
    text-align: left;
    background:white;
    margin-left: 50px;
}

.div-2{
    position: absolute;
    margin-left: 60px;

    margin-top: 120px;
}


table{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    width: 100%;
    border-spacing: 0;
    /* background: ; */

}
.ti-row{
    height: 40px;
}
table td {
    margin: 10px;
    color: red;
    
}



table tr td {
    text-align: center;
}
